
.gridcell{
  background-color: grey;
  //border: 1px solid black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.isactive {
  background-color: deepskyblue;
}

.stackcell {
  background-color: red;
}

.inshape {
  background-color: deepskyblue;
}
