.gridCell {
  background-color: grey;
  //border: 1px solid black;
  width: 100%;
  height: 100%;
  text-align: center;
}

.collisionCell {
  background-color: deepskyblue;
}

.stackCell {
  background-color: black;
}

.paddingCell {
  background-color: white;
}

.lShape {
  background-color: orange;
}

.oShape {
  background-color: yellow;
}

.iShape {
  background-color: cyan;
}

.jShape {
  background-color: mediumblue;
}

.sShape {
  background-color: greenyellow;
}

.tShape {
  background-color: deeppink;
}

.zShape {
  background-color: red;
}



