
.gameboard{
  //background-color: lightblue;
  //border: 10px;
  //border-style: solid;
  //border-color: deeppink;
  //
  //max-width: 700px;  /* Adjust as necessary */
  //max-height: 1400px; /* Adjust as necessary */
}

// Will be applied to all H1 that imports
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.grid {
  display: grid;
}
.gridcontainer {
  display: grid;
  grid-template-rows: repeat(24, 1fr); // Adjust to make the graphics more granular.
  grid-template-columns: repeat(10, 1fr); // Adjust to make the graphics more granular.
  gap: 4px;
}
